---
import Calendar from '../components/Calendar.astro';
import SlotMachine from '../components/ShiftView.astro';
---

<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schichtplan App</title>
  </head>
  <body>
    <header>
    </header>
    <main>
      <Calendar client:load />
      <SlotMachine />
    </main>
  </body>
</html>
