---
import Calendar from "../components/Calendar.astro";
import ShiftSchedule from  "../components/ShiftSchedule";
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.svg" type="image/svg+xml">
    <title>Schichtplan App</title>
  </head>
  <body>
    <header></header>
    <main>
      <Calendar />
	   <ShiftSchedule client:load></ShiftSchedule>
    </main>
  </body>
</html>
