---
import Calendar from "../components/Calendar.astro";
import ShiftSchedule from "../components/ShiftSchedule";
---

<html class="h-screen" lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="Schichtplan" />

    <link rel="apple-touch-icon" href="/favicons/favicon-192x192.png" />
    <link rel="shortcut icon" href="favicon.svg" type="image/svg+xml" />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/favicons/favicon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/favicon-180x180.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="167x167"
      href="/favicons/favicon-167x167.png"
    />

    <title>Schichtplan App</title>
  </head>
  <body class="bg-white dark:bg-gray-950">
    <header></header>
    <main>
      <Calendar />
      <ShiftSchedule client:load />
    </main>
  </body>
</html>
