---
import { ShiftType, ShiftColors } from "../env.d";

export const shiftColors: ShiftColors = {
  [ShiftType.Nachtschicht]: "bg-red-500",
  [ShiftType.Tagschicht]: "bg-green-500",
  [ShiftType.Frei1]: "bg-blue-400",
  [ShiftType.Frei2]: "bg-yellow-400",
};

const shifts = [
  ShiftType.Nachtschicht, // A
  ShiftType.Frei1, // B
  ShiftType.Frei2, // D
  ShiftType.Tagschicht, // C
];

function getVal(drift: number, forColor: boolean): ShiftType | "" {
  return (shifts[(cycleIndex4 + drift) % 4] == "F1" ||
    shifts[(cycleIndex4 + drift) % 4] == "F2") &&
    !forColor
    ? ""
    : shifts[(cycleIndex4 + drift) % 4];
}

// Berechne den Index für den Zyklus basierend auf dem Datum
const BASE_DAY = new Date("2024-01-01").getDate();

const cycleIndex4 = (BASE_DAY - 1) % 4;
---

---

<div
  id="shift-schedule"
  class="w-full max-w-md mx-auto p-5 bg-gray-100 rounded-lg text-center"
>
  <div class="grid grid-cols-8 items-center gap-2 justify-center">
    <div class="shift-cell p-2 bg-white rounded-lg text-center cursor-pointer">
      A
    </div>
    <div class="shift-cell p-2 bg-white rounded-lg text-center cursor-pointer">
      B
    </div>
    <div class="shift-cell p-2 bg-white rounded-lg text-center cursor-pointer">
      C
    </div>
    <div class="shift-cell p-2 bg-white rounded-lg text-center cursor-pointer">
      D
    </div>
  </div>

  <div class="grid grid-cols-8 gap-2 mt-2">
    <div
      id="shift-a"
      class:list={`shift-cell text-white p-2 rounded-lg text-center cursor-pointer ${
        shiftColors[getVal(0, true)]
      }`}
    >
      {getVal(0, false)}
    </div>
    <div
      id="shift-b"
      class:list={`shift-cell text-white p-2 rounded-lg text-center cursor-pointer ${
        shiftColors[getVal(1, true)]
      }`}
    >
      {getVal(1, false)}
    </div>
    <div
      id="shift-c"
      class:list={`shift-cell text-white p-2 rounded-lg text-center cursor-pointer ${
        shiftColors[getVal(3, true)]
      }`}
    >
      {getVal(3, false)}
    </div>
    <div
      id="shift-d"
      class:list={`shift-cell text-white p-2 rounded-lg text-center cursor-pointer ${
        shiftColors[getVal(2, true)]
      }`}
    >
      {getVal(2, false)}
    </div>
  </div>
</div>
